$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$bg-main: #f9f9f7;
$bg-header: #f2efe7;
$primary: #0d2f3f;
$text: #0f0e0e;
$secondary: #7cb63f;
$secondary-white: #e7e7e7;
$active: orange;
$blue: #007bb5;
$bg-secondary: #9a9996;
