@import "./constants.scss";

.bg-primary {
  background: $bg-main;
}
.bg-secondary {
  background: $bg-header;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1280px;
    margin: auto;
  }

  width: 100%;
}

.paddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (min-width: $sm) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media (min-width: $md) {
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media (min-width: $l) {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.xPaddings {
  @media (min-width: $sm) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}

.yPaddings {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @media (min-width: $sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media (min-width: $md) {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  @media (min-width: $xl) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.topPaddings {
  @media (min-width: $sm) {
    padding-top: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
  }

  padding-top: 3rem;
}

.bottomPaddings {
  @media (min-width: $sm) {
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-bottom: 2rem;
  }

  padding-bottom: 3rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: end;
}

.primaryText {
  font-size: 1.8rem;
  font-weight: bold;
  @media (min-width: $md) {
    font-size: 2.5rem;
  }
  @media (min-width: $l) {
    font-size: 3.5rem;
  }
}
.primarySmallText {
  font-size: 1.2rem;
  font-weight: bold;
  @media (min-width: $md) {
    font-size: 1.5rem;
  }
  @media (min-width: $l) {
    font-size: 2.4rem;
  }
  @media (min-width: $xl) {
    font-size: 2.8rem;
  }
}
.secondaryText {
  font-size: 0.9rem;
  font-weight: 600;

  @media (min-width: $sm) {
    font-size: 1.1rem;
  }
  @media (min-width: $md) {
    font-size: 1.2rem;
  }
  @media (min-width: $l) {
    font-size: 1.3rem;
  }
}
