@import "../../styles/global.scss";
.wrapper {
  // overflow: hidden;

  .container {
    position: relative;
    z-index: 1;

    .upperElements {
      @media (max-width: $sm) {
        justify-content: center;
        text-align: center;
        gap: 2rem;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .resume {
      @media (max-width: $sm), (max-width: $md) {
        margin-top: 4rem;
        justify-content: center;
      }
      margin-top: 12rem;
      display: flex;

      .resumeDoc {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
}
