@import "../../styles/global.scss";
@import "/src/styles/constants.scss";
.wrapper {
  overflow: hidden;
  padding-bottom: 0 !important;
  height: calc(100vh - 9rem);
  @media (min-width: $l) {
    height: calc(100vh - 12rem);
  }
  @media (min-width: $xl) {
    height: calc(100vh - 12rem);
  }
  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    .upperElements {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (min-width: $md) {
        justify-content: center;
        text-align: center;
        gap: 2rem;
      }
      @media (min-width: $md) {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 2rem;
      }
      @media (min-width: $l) {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 2rem;
      }
      @media (min-width: $xl) {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 2rem;
      }
      .loveText {
        font-family: "Eudoxus Sans";
        color: "$secondary";
        font-size: 16px;
        font-weight: 600;
        margin-top: 1rem;
        @media (min-width: $md) {
          font-size: 18px;
        }
        @media (min-width: $l) {
          font-size: 20px;
        }
        @media (min-width: $xl) {
          font-size: 22px;
        }
      }
    }

    .containerN {
      display: flex;
      justify-content: center;
      align-items: center;

      .boxN {
        width: 100%;
        position: relative;
        display: flex;
        align-items: baseline;
        flex-direction: column;

        .helloN {
          width: 50%;
          position: relative;
          display: flex;

          .blockColorH {
            width: 0%;

            background: rgba(22, 94, 161, 0.3);

            position: absolute;
            animation: mainBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92)
              forwards;
            display: flex;
            height: 2rem;
            @media (min-width: $sm) {
              height: 2.5rem;
            }
            @media (min-width: $l) {
              height: 3rem;
            }
          }

          .heyText {
            color: rgb(25, 24, 24);
            -webkit-animation: mainFadeIn 2s forwards;
            -o-animation: mainFadeIn 2s forwards;
            animation: mainFadeIn 2s forwards;
            animation-delay: 1.2s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;
          }
        }

        .titleN {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          .blockColorN {
            width: 0%;

            background: rgba(252, 201, 15, 0.3);
            position: absolute;
            animation: mainBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92)
              forwards;
            animation-delay: 1.8s;
            display: flex;
            height: 2rem;
            bottom: 0.1rem;
            @media (min-width: $md) {
              height: 2.5rem;
            }
            @media (min-width: $l) {
              height: 4rem;
            }
            @media (min-width: $xl) {
              height: 4.5rem;
            }
          }

          .myName {
            color: rgb(25, 24, 24);
            -webkit-animation: mainFadeIn 2s forwards;
            -o-animation: mainFadeIn 2s forwards;
            animation: mainFadeIn 2s forwards;
            animation-delay: 2.8s;
            opacity: 0;
            display: flex;
            align-items: baseline;
            position: relative;

            height: inherit;
            font-size: 1.8rem;
            font-weight: bold;
            @media (min-width: $md) {
              font-size: 2.5rem;
            }
            @media (min-width: $l) {
              font-size: 3.5rem;
            }
            @media (min-width: $xl) {
              font-size: 4rem;
            }
            span {
              width: 0px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;

              background: $active;
              -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92)
                forwards;
              animation: popIn 1.2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
              animation-delay: 3.8s;
              margin-left: 5px;
              margin-top: 0px;
              margin-bottom: 0px;
              position: absolute;
              right: -10px;
              bottom: 1px;
              @media (min-width: $l) {
                margin-bottom: 5px;
              }
              @media (min-width: $xl) {
                margin-bottom: 9px;
              }
            }
          }
        }

        .roleN {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          height: 1.5rem;

          @media (min-width: $sm) {
            width: 100%;
            height: 2.5rem;
          }
          @media (min-width: $l) {
            height: 3rem;
            margin-top: 1rem;
            width: 80%;
          }
          @media (min-width: $xl) {
            height: 3rem;
            margin-top: 1rem;
            width: 70%;
          }
          .blockColorR {
            width: 0%;
            height: inherit;
            background: rgb(124, 182, 63, 0.3);
            position: absolute;
            animation: secBlock 1.8s cubic-bezier(0.74, 0.06, 0.4, 0.92)
              forwards;
            animation-delay: 3.6s;
            display: flex;
          }

          p {
            animation: secFadeIn 1.6s forwards;
            animation-delay: 4.6s;
            opacity: 0;
            font-weight: 500;
            font-family: "Lato";
            text-shadow: 0.3px 0.3px 0.3px #000, 0.5px 0.5px 0.5px #000,
              1px 1px 0.5px #000;
            color: black;

            text-transform: uppercase;
            letter-spacing: 5px;
            margin-top: 0.6rem;
            @media (min-width: $sm) {
              margin-top: 1rem;
            }
          }
        }
      }
    }

    @keyframes mainBlock {
      0% {
        width: 0%;
        left: 0;
      }
      50% {
        width: 100%;
        left: 0;
      }
      100% {
        width: 0;
        left: 100%;
      }
    }

    @keyframes secBlock {
      0% {
        width: 0%;
        left: 0;
      }
      50% {
        width: 100%;
        left: 0;
      }
      100% {
        width: 0;
        left: 100%;
      }
    }

    @keyframes mainFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes popIn {
      0% {
        width: 0px;
        height: 0px;
        background: #e9d856;
        border: 0px solid #ddd;
        opacity: 0;
      }
      50% {
        width: 10px;
        height: 10px;
        background: #e9d856;
        opacity: 1;
        bottom: 45px;
      }
      65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
      }
      80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
      }
      100% {
        width: 7px;
        height: 7px;
        background: #e9d856;
        border: 0px solid #222;
        bottom: 5px;
      }
    }

    @keyframes secFadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.5;
      }
    }
    .lowerBlocks {
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      @media (min-width: $sm) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @media (min-width: $md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media (min-width: $l) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media (min-width: $xl) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .lowerElements {
        position: relative;
        padding: 0.5rem;
        @media (min-width: $sm) {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          margin-top: 0.5rem;
          gap: 2rem;
        }
        @media (min-width: $md) {
          display: flex;
          flex-direction: row;
          padding-top: 14rem;
        }
        @media (min-width: $mdl) {
          display: flex;
          flex-direction: column;
          padding-top: 12rem;
        }
        @media (min-width: $l) {
          display: flex;
          flex-direction: row;
          padding-top: 2rem;
        }
        @media (min-width: $xl) {
          display: flex;
          flex-direction: row;
          margin-top: -3rem;
          padding-top: 0rem;

        }
        .letsMake {
          display: flex;
          justify-content: end;
          align-items: end;
          gap: 1rem;
          @media (min-width: $md) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          @media (min-width: $mdl) {
            display: flex;
            flex-direction: row;
            align-items: end;
          }
          .email {
            color: $active;
          }
        }
      }
      .lowerElements > div {
        display: none;
        position: absolute;
        @media (min-width: $sm) {
          display: block;
          bottom: -8rem;
          left: -3rem;
        }

        @media (min-width: $md) {
          display: block;
          bottom: 5rem;
          left: 14rem;
        }
        @media (min-width: $mdl) {
          bottom: 5rem;
          left: 18rem;
        }
        @media (min-width: $l) {
          bottom: 5rem;
          left: 28rem;
        }
        @media (min-width: $xl) {
          bottom: 2rem;
          left: 30rem;
        }
      }
      .person {
        position: relative;
        bottom: -2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-image: url("/splash2.png");
        background-repeat: no-repeat;
        background-size: 20rem;
        left: -5%;
        @media (min-width: $sm) {
          background-size: 20rem;
          bottom: -1rem;
          left: 15%;
        }

        @media (min-width: $md) {
          background-size: 20rem;
          bottom: 0;
          left: -5%;
        }
        @media (min-width: $l) {
          background-size: 20rem;
          bottom: 4rem;
        }
        @media (min-width: $xl) {
          background-size: 22rem;
          bottom: 7rem;
        }
        img {
          width: 18rem;
          @media (min-width: $md) {
            width: 20rem;
          }
          @media (min-width: $l) {
            width: 20rem;
          }
          @media (min-width: $xl) {
            width: 22rem;
          }
          margin-bottom: -5px;
        }
      }
    }
  }
}
