@import "./../../styles/constants.scss";

.wrapper {
  position: relative;
  z-index: 99;
  opacity: 1;
  transform: none;
  position: sticky;
  top: 0px;
  transition: all 300ms ease;
  .container {
    position: relative;
    justify-content: space-between;
    font-weight: 500;

    .name {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-style: oblique;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 700;

      animation: anim-popoutin ease 5s infinite;

      @keyframes anim-popoutin {
        25% {
          color: $secondary;
          transform: scale(1);
          opacity: 1;
          text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
        }
        50% {
          color: $active;
          transform: scale(1);
          opacity: 1;
          text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          transform: scale(1);
          color: $text;

          opacity: 1;
          text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }
      }
      &:hover,
      :focus {
        color: $active;
        animation-play-state: paused;
        cursor: pointer;
      }
    }

    .menu {
      @media (max-width: $sm), (max-width: $md) {
        position: absolute;
        list-style: none;
        gap: 2rem;
        font-weight: 500;
        flex-direction: column;
        right: -1.5rem;
        top: 3.2rem;
        height: 78vh;
        width: 50%;
        min-width: 15rem;
        background: white;
        padding: 2rem;
        display: flex;
        border-radius: 10px;
        transition: all 200ms ease;
        align-items: flex-start;
        padding: 3rem;
        justify-content: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      }

      text-transform: uppercase;
      font-size: 1rem;
      list-style: none;
      gap: 1.5rem;
      cursor: pointer;
      .link,
      .resumeLink {
        position: relative;
        padding: 4px 8px;
        border-radius: 4px;
        text-decoration: none;
        color: #8c8a8a;
        font-weight: 500;
        min-width: 70px;
        text-align: center;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 250ms ease-in-out;
      }
      .link:hover,
      .resumeLink:hover {
        color: $active;
      }
      .navList {
        display: flex;
        gap: 5px;
      }

      .link::after,
      .resumeLink::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5px;
        width: 90%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 300ms ease-in-out;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        background-color: $active;
        border-radius: 5px;
      }
      .link:hover::after,
      .link:focus::after,
      .resumeLink:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .activeLink {
        color: $active;
      }
      .activeLink::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      .phone {
        gap: 1.2rem;
        flex-wrap: wrap;

        svg {
          color: $secondary;
          background-color: white;
          padding: 10px;
          border-radius: 999px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        }
      }
    }

    .menuIcon {
      display: block;

      @media (min-width: $md) {
        display: none;
      }
    }
  }
}
