@import "../../styles/constants.scss";

.wrapper {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @media (min-width: $l) {
      flex-direction: row;
      gap: 2rem;
      align-items: center;
    }
    @media (min-width: $xl) {
      align-items: end;
    }
    .left {
      width: 40%;
      @media (min-width: $sm) {
        flex: 1;
        > * {
          display: block;
        }
        > :nth-child(2) {
          margin-top: 3rem;

          a {
            text-decoration: underline;
            color: orange;
          }
        }
      }
      .earth {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 1rem;
        @media (min-width: $xl) {
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1rem;

        @media (min-width: $xl) {
          gap: 4rem;
        }
        .menuLink {
          cursor: pointer;
          padding: 0.4rem 0.5rem;
          border-radius: 15rem;
          transition: all 200ms ease;
          width: 2rem;
          height: 2rem;
          @media (min-width: $sm) {
            width: 2.5rem;
            height: 2.5rem;
          }
          @media (min-width: $md) {
            width: 2.8rem;
            height: 2.8rem;
          }
          .menuImg {
            width: 1.1rem;
            height: 1.1rem;
            @media (min-width: $sm) {
              width: 1.5rem;
              height: 1.5rem;
            }
            @media (min-width: $md) {
              width: 1.7rem;
              height: 1.7rem;
            }
          }
          &:hover {
            transform: scale(1.05);
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
    .center {
      display: none;
      @media (min-width: $md) {
        display: block;
        font-size: 1rem;
        margin-left: 2rem;
      }
      @media (min-width: $md) {
        display: block;
        font-size: 1.1rem;
      }
      @media (min-width: $l) {
        display: block;
        font-size: 1.2rem;
      }
      .heart {
        margin: 0 15px;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
